.card {
  background: linear-gradient(to bottom,rgba(255,255,255,.045),rgba(255,255,255,.025));
  border-radius: 20px;
  .card-title {
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: 900;
  }
}