.create-paste-status {
  //flex-basis: 100%;
  color: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: color .1s ease;
  .spinner-border {
    width: .8em;
    height: .8em;
    border-width: .15em;
    margin-right: 5px;
  }
  &.error {
    color: #ff314d;
  }
}