form {
  .form-label, .custom-control-label {
    color: rgba(255, 255, 255, .8);
    user-select: none;
  }
  .form-control {
    background-color: rgba(0, 0, 0, .2) !important;
    border-color: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .8) !important;
    -webkit-appearance: none;
    &:focus {
      border-color: #7e73ff;
      box-shadow: none;
    }
    &:disabled {
      color: rgba(255, 255, 255, .5) !important;
    }
  }
  .input-group-text {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  .custom-control-label::before {
    box-shadow: none !important;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #7e73ff;
  }
}